In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file :
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
!type test.txt

This is a test of the emergency text system,

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
with open('test.txt','r') as file :
    test2 = file.read()
print(test2)
print(test1 == test2)

This is a test of the emergency text system,
True

In [ ]:
3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file :
    file.write(data)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("Create Table Books(title text, author text,year int)")
db.commit()
db.close()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [11]:
import sqlite3
import csv 
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file :
    books = csv.DictReader(file)
    for book in books :
        cursor.execute("INSERT INTO BOOKS VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [13]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("Select title FROM books ORDER BY title ASC")
for ele in output :
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [14]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("Select * FROM books ORDER BY year")
for record in output :
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [16]:
import sqlalchemy 
conn = sqlalchemy.create_engine("sqlite:///books.db")
conn

Engine(sqlite:///books.db)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [18]:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     -------------------------------------- 246.2/246.2 kB 2.5 MB/s eta 0:00:00
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting packaging>=20.4
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     ---------------------------------------- 40.8/40.8 kB 1.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting wrapt<2,>=1.10
  Downloading wrapt-1.14.1-cp310-cp310-win_amd64.whl (35 kB)
Collecting pyparsing!=3.0.5,>=2.0.2
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 5.5 MB/s eta 0:00:00
Installing collected packages: wrapt, pyparsing, async-timeout, packaging, deprecated, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 packaging-21.3 pyparsing-3.0.9 redis-4.3.4 wrapt-1.14.1

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test',{'count' : 1, 'name' : 'Fester Bestertester'})
conn.hngetall('test')

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')